<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>New Blog</title>
<style type="text/css">
body {
background-image:url("http://kingofwallpapers.com/white-background-wallpaper/white-background-wallpaper-004.jpg");
}

</style>
</head>

<body>
<form>



<table align="right" width="800">
<tr><img src="http://d3sdoylwcs36el.cloudfront.net/how-to-blog-blackboard-classroom_id785240_size485.jpg" >
</td></tr>

<tr><td>Enter the title:</td><td><input type="text" ng-model="blogPost.title"></td></tr>
<tr><td>Content</td><td><textarea rows="10"  ng-model="blogPost.body"></textarea></td></tr>
<tr><td><input type="submit" ng-click="submit()"></td></tr>
</table>

</form>
</body>
</html>