<div class="panel panel-info" id="login-dp">
    <div class="row">
		<div class="col-md-12 pull-right">
			<form class="form" role="form" method="post" ng-submit="vm.login()">
				<h2 class="panel-title">Registered User Login</h2>
				
				<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
					<input type="text" name="username" class="form-control" placeholder="Username...." required ng-model="vm.User.username">
				</div>
				<br>
				<div class="form-group"  ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
					<input type="password" class="form-control" name="password" placeholder="Password" required ng-model="vm.User.password">
					
				</div>
				<br>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Sign in</button>
					<i ng-if="vm.dataLoading" class="fa fa-spinner" aria-hidden="true"></i>
				</div>
			</form>
			<div class="bottom text-center">
				New here ? <a href="#!/register"><b>Join Us</b></a>
			</div>
		</div>

	</div>
    
</div>